@charset "utf-8";

body {
  background-color:rgb(153, 208, 245);
 
}

h1 {
  font-size: 300%;
  text-align: center;
  text-decoration: underline;
  
}

h2 {
  background-color: hsl(198, 93%, 22%);
  font-size: 200%;
}

h3 {
  background-color: hsl(198, 56%, 55%);
  color: white;
  font-size: 150%;
}

p {
  text-align: justify;
}

blockquote {
  font-style: oblique;
}

pre {
  background-color: white;
  font-size: 100%;
  font-weight: bold;
}

address {
  font-family: serif;
  font-style: normal;
  text-align: right;
}